/* src/App.css */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100%;
}

.content {
  flex: 1;
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  overflow-x: hidden;
}
